## US Birth Data Set

[Original article by FiveThirtyEight about Friday the 13th](http://fivethirtyeight.com/features/some-people-are-too-superstitious-to-have-a-baby-on-friday-the-13th/)

The data set contains U.S. births data for the years 1994 to 2003, as provided by the Centers for Disease Control and Prevention's National Center for Health Statistics

### Assignment

- Open the CSV and split based on new lines
- Preview the first 10 entries

In [4]:
import pandas as pd

df = pd.read_csv('us_births.csv')

df.head(10)

   year  month  date_of_month  day_of_week  births
0  1994      1              1            6    8096
1  1994      1              2            7    7772
2  1994      1              3            1   10142
3  1994      1              4            2   11248
4  1994      1              5            3   11053
5  1994      1              6            4   11406
6  1994      1              7            5   11251
7  1994      1              8            6    8653
8  1994      1              9            7    7910
9  1994      1             10            1   10498

### Assignment

- Create a function that takes in a CSV and converts the data into a list of lists
    - Each row will be a list
    - Make sure to convert the values to int
    - Return the final list of lists
- Preview the first 10 entries of the output

In [6]:
def csv_to_lists(csv_file_name):
    df = pd.read_csv(csv_file_name)
    result = []
    for row in df.iterrows():
        index, data = row
        result.append(data.tolist())
    return result

us_births_lists = csv_to_lists('us_births.csv')

print(us_births_lists[:10])

[[1994, 1, 1, 6, 8096], [1994, 1, 2, 7, 7772], [1994, 1, 3, 1, 10142], [1994, 1, 4, 2, 11248], [1994, 1, 5, 3, 11053], [1994, 1, 6, 4, 11406], [1994, 1, 7, 5, 11251], [1994, 1, 8, 6, 8653], [1994, 1, 9, 7, 7910], [1994, 1, 10, 1, 10498]]

### Assignment

- Create a function that calculates the number of births each month
    - The function input should be the previous list of lists you created
    - Use a dictionary and increment the values associated with each month key
    - Return the final dictionary
- Preview the output

In [7]:
def births_by_month(us_births_lists):
    birth_count_by_month = {}
    for row in us_births_lists:
        month = row[1]
        count = row[4]
        if month in birth_count_by_month:
            birth_count_by_month[month] += count
        else:
            birth_count_by_month[month] = count
    return birth_count_by_month

print(births_by_month(us_births_lists))

{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}

### Assignment

- Create a function that calculates the number of births each day of the week

In [8]:
def births_by_day(us_births_lists):
    birth_count_by_day = {}
    for row in us_births_lists:
        day = row[3]
        count = row[4]
        if day in birth_count_by_day:
            birth_count_by_day[day] += count
        else:
            birth_count_by_day[day] = count
    return birth_count_by_day

print(births_by_day(us_births_lists))

{6: 4562111, 7: 4079723, 1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657}

### Assignment

- Create a general function that takes the data list of lists and a column index, it should return a dictionary mapping of the unique keys and summed values

In [13]:
def births_by_column_index(us_births_lists, column_index):
    birth_count_by_index = {}
    for row in us_births_lists:
        key = row[column_index]
        count = row[4]
        if key in birth_count_by_index:
            birth_count_by_index[key] += count
        else:
            birth_count_by_index[key] = count
    return birth_count_by_index

print(births_by_column_index(us_births_lists, 3))

{6: 4562111, 7: 4079723, 1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657}